{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block head %}
    {{ super() }}
    {% if article.description %}
	<meta name="description" content="{{article.description}}" />
    {% endif %}
    {% for tag in article.tags %}
	<meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    {{ article.content }}
{% endblock %}
