{% extends "base.html" %}
{% block title %}Article Index - {{ SITENAME }}{% endblock %}
{% block content %}
    <h1>Article Index</h1>
    <div class="links">
	<ul>
	    <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
	    <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
	    <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
	</ul>
    </div>
    <ol class="post-list">
	{% for article in articles_page.object_list %}
	    <li><article>
		<h2><a href="{{ SITEURL }}/{{ article.url }}">
		    {{ article.title }}
		</a></h2>
		{{ article.summary }}
	    </article></li>
	{% endfor %}
    </ol>
{% endblock content %}

