{% extends "base.html" %}
{% block title %} Tag Index - {{ SITENAME }}{% endblock %}
{% block content %}
    <h1>Tag Index</h1>
    <div class="links">
	<ul>
	    <li><a href="{{ SITEURL }}/article-index.html">Recent</a></li>
	    <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
	    <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
	</ul>
    </div>
    {% for tag, articles in tags|sort %}
	<h2>{{ tag }}</h2>
	<ul>
	    {% for article in articles %}
		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
	    {% endfor %}
	</ul>
    {% endfor %}
{% endblock %}
